/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
/* ||设置header的字体 */
header {
  font-family: sans-serif;
}
 
/* ||设置body的字体和样式 */
body {
  font-family: serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}
 
/* ||设置全站网页 font-size 为 10px。 */
html {
  font-size: 10px;
}
 
/* ||设置各个元素的字体大小 */
h1 {
	font-family:Chicle, arial, sans-serif;
  font-size: 4em;
  text-align: center;
  letter-spacing: 0.2em;
}
 
h2 {
  font-size: 2.5em;
  font-family:Chicle, arial;
}
 
p {
  font-size: 1.5em;
}
 
section h2 + p {
  text-indent: 20px;
}
 
/* ||设置超链接的样式（顺序：L,V,F,H,A） 记忆：LoVe Fears HAte */
a {
  padding: 2px 1px 0;
}
 
a:link {
  color: #a66;
  text-decoration:none;
}
 
a:visited {
  color: #a66;
}
 
a:focus {
  color: #a66;
  text-decoration: underline;
  outline: none;
}
 
a:hover {
  color: #a66;
  text-decoration: underline;
}
 
a:active {
  background-color: antiquewhite;
  color: #a00;
}
 
/* ||设置section下紧挨着h2的p元素里面的a的样式 */
section h2 + p a {
  padding: 2px 20px 0 1px;
  background: url("link.png") 100% 0 no-repeat;
  background-size: 15px 15px;
}
 
/* ||去掉默认的黑点 */
ul {
  list-style-type: none;
}
 
/* ||设置section,aside中li的样式 */
section ul li,
aside ul li {
  padding-left: 2rem;
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
 
section ul li {
  list-style-type: square;
  font-size:1.4em;
  font-family: Chicle,serif;
}
section ol li {
  font-size: 1.4em;
}

 
aside ul li {
  background-image: url("star.png");
}
aside ul li a{
	font-size:1.5em;
	
}
 
/* ||设置nav中a的样式 */
nav ul li a {
	font-family:Sahitya,serif;
  text-decoration: none;
  display: block;
  width: 20rem;
  height: 8rem;
  border: 1px solid rgb(240, 186, 186);
  margin: 2rem 0;
  text-align: center;
  line-height: 8rem;
  font-size: 2rem;
  font-weight: bold;
}
 
nav ul li a:hover {
  background-color: rgb(233, 195, 195);

}
footer {
  text-align: center;
}